<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.MvcContextHandler, Spring.Web.Mvc4" />
    </sectionGroup>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>

  </configSections>
  <spring>
    <context>
      <resource uri="file://~/Config/objects.xml" />
      <resource uri="file://~/Config/repository.xml" />
      <resource uri="file://~/Config/controllers.xml" />
      <!--<resource uri="file://~/Config/Aspects.xml" />-->
    </context>
  </spring>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  
  <log4net>
    <!-- @RollingFileAppender -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\\logfile" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="_yyyy.MM.dd&quot;.log&quot;" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="1024KB" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date | [%thread] | %-5level | %logger | %message;%newline" />
      </layout>

      <!--<filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="KTBLeasing.FrontLeasing" />
        <acceptOnMatch value="true"/>
      </filter>-->
      <!--
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="*CarPass.Modules.AGps.*" />
      </filter>
-->
      <filter type="log4net.Filter.DenyAllFilter" />

    </appender>

    <!-- @ConsoleAppender -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <!-- @SmtpSystemAppender -->
    <appender name="SmtpSystemAppender" type="log4net.Appender.SmtpAppender">
      <to value="pitsanu.t@carpass.co.th, narin.k@carpass.co.th" />
      <from value="device_command@carpass.co.th" />

      <!-- For Smarto Appsit01 -->
      <subject value="[Appsit01] Command Server Logging Message" />
      <!-- For Smarto Demo01 -->
      <!--<subject value="[Demo01] Command Server Logging Message" />-->
      <!-- For Aware -->
      <!--<subject value="[Aware] Command Server Logging Message" />-->

      <!-- @SMTPHOST -->
      <smtpHost value="bentley.CARPASSAD.CO.TH" />
      <bufferSize value="10" />
      <lossy value="true" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%property{log4net:HostName}] %-5level - %message%newline" />
      </layout>

      <!--<filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="CarPass.Domains.Communications.Tcp.DeviceCommunicationTcpServiceProvider" />
      </filter>

      <filter type="log4net.Filter.DenyAllFilter" />-->

      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR" />
      </evaluator>
    </appender>

    <!-- @EventLogAppender -->
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <param name="LogName" value="GPS Commun Log" />
      <param name="ApplicationName" value="GPS Communication" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%logger] %message" />
      </layout>
      <!--<filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="CarPass.Domains.Communications.Tcp.DeviceCommunicationTcpServiceProvider" />
      </filter>-->
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>

    <!-- @MongoAppender -->
    <appender name="MongoAppender" type="log4net.Appender.MongoDBAppender, log4mongo-net">

      <!-- MongoDB connection options -->
      <host value="localhost" />
      <port value="27017" />
      <databaseName value="log4net" />
      <collectionName value="logs" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%logger] %message" />
      </layout>
      <!--<filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="KTBLeasing.FrontLeasing.Controllers.*" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />-->

    </appender>

    <root>
      <level value='ERROR' />
      <!--<appender-ref ref="EventLogAppender" />-->

      <!--<appender-ref ref="ConsoleAppender" />-->
      <appender-ref ref="RollingFileAppender" />
      <!--<appender-ref ref="MongoAppender"/>-->
      <!--<appender-ref ref="SmtpSystemAppender" />-->
    </root>
  </log4net>
  
  
  
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IWS_LoginADbinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://221.23.1.11/loginad/ws_loginad.exe/soap/IWS_LoginAD" binding="basicHttpBinding" bindingConfiguration="IWS_LoginADbinding" contract="WsLoginAD.IWS_LoginAD" name="IWS_LoginADPort" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.0.0.0" />
         <!--reference specific file: 
         codeBase version="2.0.0.0" href="../../../build/net/2.0/release/Common.Logging.dll"/--> 
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
