@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="@Url.Content("~/ext/ext-all.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/TabUserInformation/controller/HomeController.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/TabUserInformation/view/Window/LoginWindow.js")" type="text/javascript"></script>*@
   
</head>
<body>
    <div>
        <script type="text/javascript">
//            var popup = Ext.create('widget.windowloginwindow');
//            console.log(popup);
//            popup.show();
        </script>
    </div>
</body>
</html>
